<h1>Edit Destination details</h1>

<% if @destination.errors.any? %>

<h2>The following errors occured:</h2>
  <% @destination.errors.full_messages.each do |error_message| %>
    <li><%= error_message %></li>
  <% end %>
<% end %>

<%= form_with(model: @destination, data: { turbo: false }, local: true) do |f| %>
<p> 
  <%= f.label :country%> <br>
  <%= f.text_field :country%>
</p>
<p> 
  <%= f.label :city%> <br>
  <%= f.text_field :city%></p>
</p>
<p> 
  <%= f.label :description%> <br>
  <%= f.text_area :description%></p>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>

<p>
  <%= link_to 'Back', destination_path %>
</p>