<h1>Showing all destinations</h1>
<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>City</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @destination.each do |destination| %>
    <tr>
      <td><%= destination.country %></td>
      <td><%= destination.city %></td>
      <td><%= destination.description %></td>
      <td> <%= link_to 'View', destination_path(destination) %> </td>
      <td> <%= link_to 'Edit', edit_destination_path(destination) %></td>
      <td> <%= link_to 'Delete', destination_path(destination), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this article?"} %> </td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>
<%= link_to 'Create new destination', new_destination_path %>
</p>